# String operations

In [1]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
# with list comprehension. However it breaks when there are missing values
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [2]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     MARY
3    gUIDO
dtype: object

In [3]:
# with pandas str attribute
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

In [5]:
# if it's two characters
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [6]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [7]:
monte.str.len() # this includes the space

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [8]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [9]:
monte[monte.str.startswith('T')] # use masking

2    Terry Gilliam
4      Terry Jones
dtype: object

In [10]:
# split
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

## Regular expressions

In [11]:
# extract substring
# []: character class
# A-Za-z: any upper class A-Z or lower a-z letter
# +: one or more of the preceding characters
# expand is false: returns a  series instead of a df
# this stops at the space

monte.str.extract('([A-Za-z]+)', expand=False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [12]:
df = pd.DataFrame({'text': ['A B', 'C D', 'E   F']})
df['extracted'] = df['text'].str.extract('([A-Za-z]+)', expand=False)
df

    text extracted
0    A B         A
1    C D         C
2  E   F         E

In [13]:
# adding one space after z can solve the problem of space
df['extracted'] = df['text'].str.extract('([A-Za-z ]+)', expand=False)
df

    text extracted
0    A B       A B
1    C D       C D
2  E   F     E   F

In [14]:
monte.str.cat()

'Graham ChapmanJohn CleeseTerry GilliamEric IdleTerry JonesMichael Palin'

In [15]:
monte.str.slice()

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object